.SearchBox__searchInput {
  border-radius: 5px 0 0 5px;
  border: 1px solid;
  border-color: $brand;
  height: 50px;
  font-size: 20px;
  padding-left: 5px;
}

.SearchBox__searchInput::placeholder {
  color: $gray-500;
}

.SearchBox__searchButton {
  border-radius: 0 5px 5px 0;
  background-color: $brand;
  color: white;
  width: 150px;
  font-weight: bold;

  @include media-breakpoint-down(xs) {
    width: 80px;
  }
}
